<nav
  class="bg-tk-elements-topBar-backgroundColor transition-theme border-b border-tk-elements-app-borderColor flex max-w-full items-center p-3 px-4 min-h-[64px]"
>
  <div class="flex flex-1">
    <img class="h-[24px] mr-2 ml-4" src="/logo.svg"/>
    <a class="font-semibold text-slate-600 dark:text-slate-100" href="/">
    UnoCSS Tutorial
  </a>
  </div>
  <div class="mr-2">
  <a class="text-slate-600 dark:text-slate-200 font-semibold text-sm" href="https://unocss.dev">
  Official UnoCSS docs
  </a>
  </div>
  <div class="mr-2">
    <slot name="open-in-stackblitz-link" />
  </div>
  <div>
    <slot name="theme-switch" />
  </div>
  <div>
    <slot name="login-button" />
  </div>
</nav>